* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: black;
    font-size: 30px;
    font-weight: 800;

}

.rangload {
    width: 400px;
    cursor: pointer;
    
}
